<section class="section">
	<div class="wrap">
		<div class="title title--red"><%= "Hello, #{current_user.name}" %></div>
		<div class="counter">
			<div class="counter__title">這是你支持孩子的</div>
			<div class="counter__container">
				第&nbsp;&nbsp;
				<span class="counter__number" data-duration="2000" data-easing="easeInOutQuart" data-count="<%= @child.decorate.support_length %>"><%= @child.decorate.support_length %></span>
				天
			</div>
		</div>
		<div class="counter">
			<div class="counter__title">你與孩子之間的旅途</div>
			<div class="counter__container">
				還有
				<span class="counter__number" data-duration="3000" data-easing="easeOutQuad" data-count="<%= @child.decorate.support_days_left %>"><%= @child.decorate.support_days_left %></span>
				天
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="title title--red">孩童資料</div>
	<div class="row kidData">
		<div class="wrap">
			<div class="col s12 m6 tac">
				<video class="responsive-video" controls>
					<source src="<%= @child.latest_update.video.url %>" type="video/mp4">
				</video>
			</div>
			<div class="col s12 m6">
				<div class="kidData__name"><%= @child.name %></div>

				<ul class="browser-default">
					<li><%= "性別： #{@child.gender}" %></li>
					<% if @child.birthday.present? %>
						<li><%= "年紀： #{@child.decorate.age}" %></li>
					<% end %>
					<li><%= "就讀小學： #{@update.current_school}" %></li>
					<li><%= "就讀年級： #{@update.current_grade} 年級" %></li>
				</ul>
				<div class="kidData__info">
					<%= @update.comment %>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="wrap">
		<div class="title title--red">成長紀錄</div>
		<div class="row record">
			<div class="col s6 m4">
				<a href="#attendence" class="record__item" data-fancybox="attendence">
					<%= image_tag 'iKid1.png' %>
				</a>
			</div>
			<div class="col s6 m4">
				<a href="#reading" class="record__item" data-fancybox="reading">
					<%= image_tag 'iKid2.png' %>
				</a>
			</div>
			<div class="col s6 m4">
				<a href="#grade" class="record__item" data-fancybox="grade">
					<%= image_tag 'iKid3.png' %>
				</a>
			</div>
			<div class="col s6 m4">
				<a href="#study" class="record__item" data-fancybox="study">
					<%= image_tag 'iKid4.png' %>
				</a>
			</div>
			<div class="col s6 m4">
				<a href="#bodyshape" class="record__item" data-fancybox="bodyshape">
					<%= image_tag 'iKid5.png' %>
				</a>
			</div>
			<div class="col s6 m4">
				<a href="#income" class="record__item" data-fancybox="income">
					<%= image_tag 'iKid6.png' %>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="title title--red">資助實況</div>
	<div class="kidData">
		<div class="kidData__slider">
			<ul class="sponseSlider">
				<% @child.latest_update.photos.each do |photo| %>
					<li><%= image_tag photo.picture.url %></li>
				<% end %>
			</ul>
			<div class="sponseMoney">
				<a href="#certification" class="btn" data-fancybox="true">資助證明</a>
				<a href="#deliver" class="btn" data-fancybox="true">資助金發放</a>
			</div>
		</div>
	</div>
</section>
<div class="sideTool">
	<a href="#message" class="icon iTool__message waves-effect waves-light" data-fancybox="true"></a>
	<%#= link_to '', user_path(current_user), class: 'icon iTool__info waves-effect waves-light', target: '_blank'%>
</div>
<%= render partial: 'shared/partials/message_board' %>
<div id="certification" class="recordPopup clearfix">
	<div class="recordPopup__left">
		<div class="recordPopup__title">資助證明</div>
		<div class="recordPopup__percentage"></div>
		<p>每個月社工會在學校集合家長舉行資助金發放儀式，詳實記錄金額並簽名拍照作為紀錄。</p>
	</div>
	<div class="recordPopup__right">
		<%= image_tag @child.latest_update.support_proof.url %>
	</div>
</div>
<div id="deliver" class="recordPopup clearfix">
	<div class="recordPopup__left">
		<div class="recordPopup__title">資助金發放</div>
		<div class="recordPopup__percentage"></div>
		<p>資助金發放時要求孩子與家長一同出席，除了能讓社工了解家中狀況外，更會舉辦親子講堂，邀請尼泊爾講者分享教育觀念。</p>
	</div>
	<div class="recordPopup__right">
		<%= image_tag @child.latest_update.money_granting_proof.url %>
	</div>
</div>
<div id="attendence" class="popup recordPopup clearfix">
	<div class="recordPopup__left">
		<div class="recordPopup__title">出席率</div>
		<div class="recordPopup__percentage"><%= @update.decorate.attendence_rate_in_percent %></div>
		<p><%= @child.comparison_word('attendence_rate') %></p>
	</div>
	<div class="recordPopup__right">
		<canvas id="attendenceChart" width="400" height="400"></canvas>
	</div>
</div>
<div id="reading" class="popup recordPopup clearfix">
	<div class="recordPopup__left">
		<div class="recordPopup__title">讀書心得</div>
		<div class="recordPopup__percentage"><%= "#{@update.reading_report_amount} 篇" %></div>
		<p><%= @child.comparison_word('reading_report_amount') %></p>
	</div>
	<div class="recordPopup__right">
		<canvas id="readingChart" width="400" height="400"></canvas>
	</div>
</div>
<div id="grade" class="popup recordPopup clearfix">
	<div class="recordPopup__left">
		<div class="recordPopup__title">成績表現</div>
		<div class="recordPopup__percentage"><%= @update.grade %></div>
		<p><%= @child.comparison_word('grade') %></p>
	</div>
	<div class="recordPopup__right">
		<canvas id="gradeChart" width="400" height="400"></canvas>
	</div>
</div>
<div id="income" class="popup recordPopup clearfix">
	<div class="recordPopup__left">
		<div class="recordPopup__title">家庭收入</div>
		<div class="recordPopup__percentage"><%= @update.decorate.family_income_in_unit %></div>
		<p><%= @child.comparison_word('family_income') %></p>
	</div>
	<div class="recordPopup__right">
		<canvas id="incomeChart" width="400" height="400"></canvas>
	</div>
</div>
<div id="bodyshape" class="popup recordPopup clearfix">
	<div class="recordPopup__left">
		<div class="recordPopup__title">身體狀況</div>
		<div class="recordPopup__percentage"><%= "#{@update.decorate.height_in_unit}; #{@update.decorate.weight_in_unit}" %></div>
		<p><%= @child.comparison_word('height') %></p>
		<p><%= @child.comparison_word('weight') %></p>
	</div>
	<div class="recordPopup__right">
		<canvas id="bodyshapeChart" width="400" height="300"></canvas>
	</div>
</div>
<div id="study" class="popup recordPopup clearfix">
	<div class="recordPopup__left">
		<div class="recordPopup__title">讀書時間</div>
		<div class="recordPopup__percentage"><%= @update.decorate.rounded_study_hours %></div>
		<p><%= @child.comparison_word('study_hours') %></p>
	</div>
	<div class="recordPopup__right">
		<canvas id="studyChart" width="400" height="300"></canvas>
	</div>
</div>

<% content_for :javascript do %>
<script>
	$(function () {


		//slider
		$('.sponseSlider').bxSlider(
		{
			pager: false,
			adaptiveHeight: true
		}
		);
		var dataset = {
			fill: false,
			lineTension: 0.1,
			backgroundColor: "#990033",
			borderColor: "#990033",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: "#990033",
			pointBackgroundColor: "#990033",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "#990033",
			pointHoverBorderColor: "#990033",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			spanGaps: false
		};
		var dataset2 = {
			fill: false,
			lineTension: 0.1,
			backgroundColor: "#003471",
			borderColor: "#003471",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: "#003471",
			pointBackgroundColor: "#003471",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "#003471",
			pointHoverBorderColor: "#003471",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			spanGaps: false
		};
		//line chart
		var commonData = {
			datasets: [
			dataset
			]
		};

		//資料放這裡
		var attendenceData = jQuery.extend(true, {}, commonData);
		attendenceData.labels = <%= raw @child.update_month_last_six_months %>;
		attendenceData.datasets[0].label = "出席率統計";
		attendenceData.datasets[0].data = <%= @child.statics_last_six_months_of(:attendence_rate).map{ |r| r*100 } %>;

		var readingData = jQuery.extend(true, {}, commonData);
		readingData.labels = <%= raw @child.update_month_last_six_months %>;
		readingData.datasets[0].label = "讀書心得統計";
		readingData.datasets[0].data = <%= @child.statics_last_six_months_of(:reading_report_amount) %>;

		var gradeData = jQuery.extend(true, {}, commonData);
		gradeData.labels = <%= raw @child.update_month_last_six_months %>;
		gradeData.datasets[0].label = "成績表現統計";
		gradeData.datasets[0].data = <%= @child.statics_last_six_months_of(:grade) %>;


		var incomeData = jQuery.extend(true, {}, commonData);
		incomeData.labels = <%= raw @child.update_month_last_six_months %>;
		incomeData.datasets[0].label = "家庭收入統計";
		incomeData.datasets[0].data = <%= @child.statics_last_six_months_of(:family_income) %>;

		var bodyshapeData = jQuery.extend(true, {}, commonData);
		bodyshapeData.labels = <%= raw @child.update_month_last_six_months %>;
		bodyshapeData.datasets[0].label = "身高統計";
		bodyshapeData.datasets[0].data = <%= @child.statics_last_six_months_of(:height) %>;
		bodyshapeData.datasets[0].yAxisID = 'height';
		bodyshapeData.datasets[1] = dataset2;
		bodyshapeData.datasets[1].label = "體重統計";
		bodyshapeData.datasets[1].data = <%= @child.statics_last_six_months_of(:weight) %>;
		bodyshapeData.datasets[1].yAxisID = 'weight';


		var studyData = jQuery.extend(true, {}, commonData);
		studyData.labels = <%= raw @child.update_month_last_six_months %>;
		studyData.datasets[0].label = "讀書時間統計";
		studyData.datasets[0].data = <%= @child.statics_last_six_months_of(:study_hours) %>;


		$('[data-fancybox="attendence"]').fancybox(
		{
			scrolling: 'no',
			afterShow: function () {
				var attendenceCtx = document.getElementById("attendenceChart").getContext("2d");
				attendenceChart = new Chart(attendenceCtx, {
					type: 'line',
					data: attendenceData
				});
			},
			afterClose: function () {
				attendenceChart.destroy();
			}
		}
		);
		$('[data-fancybox="reading"]').fancybox(
		{
			scrolling: 'no',
			afterShow: function () {
				var readingCtx = document.getElementById("readingChart").getContext("2d");
				readingChart = new Chart(readingCtx, {
					type: 'line',
					data: readingData
				});
			},
			afterClose: function () {
				readingChart.destroy();
			}
		}
		);
		$('[data-fancybox="grade"]').fancybox(
		{
			scrolling: 'no',
			afterShow: function () {
				var gradeCtx = document.getElementById("gradeChart").getContext("2d");
				gradeChart = new Chart(gradeCtx, {
					type: 'line',
					data: gradeData
				});
			},
			afterClose: function () {
				gradeChart.destroy();
			}
		}
		);
		$('[data-fancybox="income"]').fancybox(
		{
			scrolling: 'no',
			afterShow: function () {
				var incomeCtx = document.getElementById("incomeChart").getContext("2d");
				incomeChart = new Chart(incomeCtx, {
					type: 'line',
					data: incomeData
				});
			},
			afterClose: function () {
				incomeChart.destroy();
			}
		}
		);
		$('[data-fancybox="bodyshape"]').fancybox(
		{
			scrolling: 'no',
			afterShow: function () {
				var bodyshapeCtx = document.getElementById("bodyshapeChart").getContext("2d");
				bodyshapeChart = new Chart(bodyshapeCtx, {
					type: 'line',
					data: bodyshapeData,
					options: {
						scales: {
							yAxes: [{
								id: 'height',
								type: 'linear',
								position: 'left',
							}, {
								id: 'weight',
								type: 'linear',
								position: 'right',
							}]
						}
					}
				});
			},
			afterClose: function () {
				bodyshapeChart.destroy();
			}
		}
		);
		$('[data-fancybox="study"]').fancybox(
		{
			scrolling: 'no',
			afterShow: function () {
				var studyCtx = document.getElementById("studyChart").getContext("2d");
				studyChart = new Chart(studyCtx, {
					type: 'line',
					data: studyData
				});
			},
			afterClose: function () {
				studyChart.destroy();
			}
		}
		);
	});
</script>
<% end %>
