<div class="row">
<div class="col-sm-12 col-md-8 col-issue-cover col-issue-cover-left">
	<div class="issue-cover-bg-img" 
	style="background-image: url(<%= cover[0].cover %>)">
		<div class="issue-cover-title issue-cover-title-left black-bg-with-opacity">
			<h2 class="white-text"><%= cover[0].title %></h2>
			<span class="red-text"><%= cover[0].tags.first.try(:name_zh) || '背包客志工' %></span><span class="gray-text"> | <%= cover[0].publish_date.try(:to_date) || Date.today %></span><br>
			<span class="white-text margins"> <%= cover[0].summary %> </span>
		</div>
	</div>
</div>


<div class="col-sm-12 col-md-4 col-issue-cover ">
	<div class="issue-cover-small-bg-img" 
	style="background-image: url(<%= cover[1].cover %>)">
	<div class="issue-cover-title black-bg-with-opacity">
		<h4 class="white-text"> <%= cover[1].title %> </h4>
	</div>
</div>
</div>

<div class="col-sm-12 col-md-4 col-issue-cover ">
	<div class="issue-cover-small-bg-img" 
	style="background-image: url(<%= cover[2].cover %>)">
		<div class="issue-cover-title black-bg-with-opacity">
			<h4 class="white-text"> <%= cover[2].title %> </h4>
		</div>
	</div>
</div>

</div>