<% unless @user.associated_with_children? %>
<section class="section bgGrey">
	<div class="wrap wrap--s">
		<div class="title title--red">註冊繳款資訊</div>
		<%= render partial: 'users/partials/support_progress' %>
		<%= render partial: 'users/partials/money_transfer_action' if @user.havent_paid? %>
	</div>
</section>
<% end %>
<section class="section memberPage">
	<%= render 'devise/registrations/edit' %>
</section>
<% if @user.support_date.present? %>
	<%= render partial: 'users/partials/support_info' %>
<% end %>
<ul class="sideTool">
	<li>
		<a href="#message" class="icon iTool__message waves-effect waves-light" data-fancybox="true"></a>
	</li>
</ul>
<%= render partial: 'shared/partials/message_board' %>
