<section class="main">
	<section class="section bgGrey">
		<div class="wrap wrap--s">
			<div class="title title--red">註冊繳款資訊</div>
			<div class="row">
				<ul class="processLine clearfix">
					<li class="<%= progress_state_finished('havent_paid') %>">
						<div class="processLine__title h2 fBold fRed">未繳款</div>
					</li>
					<li class="<%= progress_state_finished('payment_needs_confirmation') %>">
						<div class="processLine__title h2 fBold fRed">款項<span class="breakLine"><br /></span>確認中</div>
						<div class="processLine__sub h4">
							<p>統一確認日期</p>
							<p>2017.01.18</p>
						</div>
					</li>
					<li class="<%= progress_state_finished('confirmed_payment') %>">
						<div class="processLine__title h2 fBold fRed">繳款<span class="breakLine"><br /></span>已確認</div>
					</li>
					<li class="<%= progress_state_finished('associated_with_children') %>">
						<div class="processLine__title h2 fBold fRed">孩童資料<span class="breakLine"><br /></span>彙整中</div>
						<div class="processLine__sub h4">
							<p>孩童資料開放日期</p>
							<p>2017.01.20</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="row borderSection pd20">
				<div class="col m6 s12">
					<div class="h2 fBold fRed">匯款資訊</div>
					<p>匯款銀行:012 華南銀行 大安分行</p>
					<p>匯款帳號:1234-1234-1234-1234</p>
					<p>匯款戶名:李小明</p>
				</div>
				<div class="col m6 s12">
					<div class="h2 fBold fRed">匯款期限</div>
					<p class="fBold h2">2017.01.12</p>
					<p>期限後5個工作天內將確認收款狀況</p>
				</div>
			</div>
			<div class="row pd20">
				<div class="col m6 s12">
					<div class="h2 fBold fRed">繳款成功後</div>
					<p>請您務必在匯款期限內完成ATM 匯款程序，並在此回傳您的繳款資訊 或 上傳繳款憑證圖片，就完成繳款程序囉！</p>
				</div>
				<div class="col m6 s12">
					<div class="file-field clearfix">
						<div class="fileBtn h4 fr">
							<span>上傳繳款證明圖片</span>
							<input type="file">
						</div>
					</div>
					<p>
						<textarea placeholder="留言您的末五碼／匯款帳戶名稱。（此平台透過加密保護，資料完全保密）"></textarea>
					</p>
					<div class="actionArea clearfix">
						<a href="#" class="btn btn--red fr">送出</a>
						<a href="#" class="btn btn--rev btn--red btn-reset fr">取消</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section memberPage">
		<%= render 'devise/registrations/edit' %>
	</section>
	<section class="section memberPage">
		<div class="wrap wrap--s"">
			<div class="title title--red">贊助資料</div>
			<table class="table table--red">
				<tr>
					<th>贊助招募日期</th>
					<th>贊助繳款日期</th>
					<th>贊助收據狀態</th>
				</tr>
				<tr>
					<td><%= "第 #{((@user.support_date - '2016/06/01'.to_datetime) / 6.month).to_i + 1} 屆" %></td>
					<td><%= @user.paid_at.strftime("%Y/%m/%d") %></td>
					<td>
						<ul class="list">
							<li><%= @user.receipt_state %></li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</section>
	<ul class="sideTool">
		<li>
			<a href="#message" class="icon iTool__message waves-effect waves-light" data-fancybox="true"></a>
		</li>
	</ul>
	<div id="message" class="popup">
		<form id="messageForm">
			<div class="popup__content">
				<div class="title title--red">資助人留言板</div>
				<div class="row">
					<div class="col s12 m6">
						<input type="radio" class="with-gap" id="toTeam" name="messageTo" />
						<label for="toTeam">留言給團隊</label>
						<div>對於計劃、團隊或其他疑問等都歡迎隨時留言給我們！我們將在收到訊息三天內儘速回覆您！</div>
					</div>
					<div class="col s12 m6">
						<input type="radio" class="with-gap" id="toKid" name="messageTo" />
						<label for="toKid">留言給孩子</label>
						<div>當您留言給孩子後，團隊將彙整您的訊息留言，在每個月中旬社工逐家探訪孩子時，為您傳遞您的心意給資助兒童。</div>
					</div>
				</div>
				<div class="title title--red">留言內容</div>
				<div class="file-field input-field clearfix">
					<div class="btn btn--red">
						<span>上傳照片</span>
						<input type="file">
					</div>
				</div>
				<textarea></textarea>
			</div>
			<div class="popup__footer form__action">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn btn--red" data-fancybox-close="true">送出</a>
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn btn--red btn--rev" data-fancybox-close="true">取消</a>
			</div>
		</form>
	</div>
</section>

<% content_for :javascript do %>
<script>
	$(function () {
		$('#editData').click(function (e) {
			e.preventDefault();
			$('.input-field').fadeIn();
			$('.value-field').hide();
			$(this).hide();
			$('#finishEdit').fadeIn();
			$('#cancelEdit').fadeIn();
		});

		$('#cancelEdit').click(function (e) {
			e.preventDefault();
			$('#finishEdit').hide();
			$('#cancelEdit').hide();
			$('#editData').fadeIn();
			$('.input-field').hide();
			$('.value-field').fadeIn();
		});
		readData();
	});
</script>

<% end %>