<div class="banner banner--index">
	<div class="banner__title">
		<%= image_tag 'logo-big.png' %>
		<br>
		<%= Setting.slogan %>
	</div>
	<a href="#" class="scrollDown"></a>
</div>
<section class="mission">
	<ul class="gridHalf clearfix">
		<li>
			<div class="mission__left parallax-container">
				<div class="parallax">
					<%= image_tag 'mission__left.jpg' %>
				</div>
				<div class="counter">
					<div class="counter__title">
						EDUCATIONAL ECOSYSTEM
						<br>DAY
						<span class="counter__number" data-duration="3000" data-easing="easeInOutQuart" data-count="<%= ((Time.now - Time.zone.parse('2015.04.25 11:56:26 UTC+5:45'))/1.day).to_i %>">0</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="mission__right">
				<div class="mission__title">我們的使命</div>
				<div class="mission__content">
					<p>
						2015年4月，渴望能跳脫短期服務的遠山呼喚團隊集結在一起，隨後一場地震帶我們深入山城間的震央村落。直到今天我們未曾離開，我們仍傾聽著許多孩子的獨白，這些傾訴是黑暗中的微光，引領我們不斷思考服務的意義。
					</p>
					<p>
						我們發現在許多貧窮地區，學習是孩子必須獨自面對的事情，孩子在教育領域的重要關係人，並不知道怎麼為孩子鋪走出貧窮的路。嚴苛的教育環境讓許多孩子被迫放棄學習，然而教育卻是他們改變生命唯一的途徑。
					</p>
					<p>
						大家總認為要改變的是孩子，卻沒有人真正長期的改善教育環境。在短期志工不斷進出孩子生命的時代裡，我們有不一樣的堅持；在體驗式服務當道的現在，我們渴望實踐一場改變。
					</p>
					<p>
						「學習生態系」是一套教育環境的優化系統，更是一場每個人都能參與的長期行動！
					</p>
				</div>
				<div class="mission__action">
					<%= link_to '關於我們', about_path, class: "btn" %>
				</div>
			</div>
		</li>
	</ul>
</section>
<!-- <section>
	<a href="#" class="indexVideo fancybox fancybox.iframe">
		<div class="indexVideo__text">What we believe in</div>
	</a>
</section> -->
<section class="indexAurora clearfix">
	<div class="indexAurora__photo">
		<%= image_tag 'indexAurora.png' %>
	</div>
	<div class="indexAurora__title">
		學習生態系
	</div>
	<div class="indexAurora__content">
		<p>
			<span class="mobile-show">
				學習生態系致力於改善貧童教育的四大面向：教育資金、學習資源、親職參與、內在動機，並以經濟研究作為評估機制。
			</span>
			<span class="mobile-hide">
				學習生態系致力於改善貧童教育的四大面向：<br>
				教育資金（Educational Funds）、<br>
				學習資源（Learning Resources）、<br>
				親職參與（Parental Involvement）、<br>
				內在動機（Incentive Cultivation），<br>
				並以經濟研究作為評估機制。<br><br>
				我們與許多孩子們一同經驗了兩年的學習，<br>
				是什麼樣的真實故事引領我們展開行動？<br>
				將如何大眾一起執行學習生態系呢？<br>
				快跟著我們一探究竟吧！
				<br>
			</span>
		</p>
		<%= link_to '瞭解更多', about_path, class: "btn" %>
	</div>
</section>
<section class="indexSponse clearfix">
	<div class="indexSponse__photo">
		<%= image_tag 'indexSponse.png' %>
	</div>
	<div class="indexSponse__title">
		遠山資助平台
	</div>
	<div class="indexSponse__content">
		<p>
			<span class="mobile-hide">
				購物平台，募資平台，社交平台.....
				人們建立平台以縮短生活中的大小時間。<br>
				但是，有些事卻需要更多時間才能完成，
				孩子的成長、一場生命的改變.......<br>
			</span>
			遠山資助平台，
			延長著人們留在彼此生命中的時間，
			不是由上而下的短暫施予，
			是相伴而行的長期資助。
		</p>
		<%= link_to '瞭解更多', sponsor_project_path, class: "btn" %>
	</div>
</section>
<section class="section">
	<div class="wrap">
		<div class="title">遠山部落格</div>
		<div class="row">
			<div class="col s12 m6 ">
				<%= render partial: 'posts/partials/post', locals: { post: @pinned_post_with_img, type: 'bookmark' } if @pinned_post_with_img.present? %>
			</div>
			<div class="col s12 m6 ">
				<%= render partial: 'posts/partials/post', locals: { post: @pinned_post_with_video, type: 'video' } if @pinned_post_with_video.present? %>
			</div>
		</div>
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col s12 m4">
					<%= render partial: 'posts/partials/post', locals: { post: post, type: 's' } %>
				</div>
			<% end if @posts.present? %>
		</div>
	</div>
</section>
<section class="section">
	<div class="wrap">
		<div class="title">合作夥伴</div>
		<ul class="bxslider">
			<li>
				<%= image_tag "partnership/backfounder.png" %>
			</li>
			<li>
				<%= image_tag "partnership/ICEF.png" %>
			</li>
			<li>
				<%= image_tag "partnership/ntu.png" %>
			</li>
			<li>
				<%= image_tag "partnership/wIsland.png" %>
			</li>
		</ul>
	</div>
</section>

<% content_for :javascript do %>
<script>
	$(function () {
		$(window).resize(function () {
			var ww = $(window).width(),
			wh = $(window).height();
			$('.banner, .indexVideo').height(wh);
			$('.main').css('padding-top', 0)
		}).trigger('resize');

		$('.scrollDown').on('click', function () {
			var wh = $(window).height(),
				hh = $('.header').outerHeight();
			var page = $("html, body");
			page.on("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove", function () {
				page.stop();
			});
			page.animate({ scrollTop: wh - hh }, 'slow', function () {
				page.off("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove");
			});
			return false;
		})
		$('body').addClass('indexHide');

		$(window).scroll(function () {
			var ww = $(window).width(),
			wh = $(window).height(),
			hh = $('.header').outerHeight(),
			scrollTop = $(this).scrollTop();
			if (scrollTop > wh) {
				$('body').removeClass('indexHide');
			} else {
				$('body').addClass('indexHide');
			};
		}).trigger('scroll');

		$('.bxslider').bxSlider({
			maxSlides: 3,
			minSlides: 1,
			slideWidth: 400,
			slideMargin: 20,
			moveSlides: 1
		});

		$('.fancybox').fancybox({
			padding: 0,
			height: '100%',
			width: '100%'
		});
	});
</script>
<% end %>
