<div class="index-slider-wrapper">

<ul class="bxslider" id="covers-bxslider">
	<% @covers.each do |p| %>
	<li>

	<%= link_to(p) do %>
		<div class="covers-element">
			<img class="img-responsive img-cover" src="<%= p.cover %>">
			<h3><%= p.title %></h3>
		</div>
	<% end %>

	</li>
	<% end %>
</ul>

<div class="index-cover-title-row" id="index-slider-pager">
<% @covers.each_with_index do |p,i| %> 
	<div class="col-sm-3 col-cover-title">
		<a href="" data-slide-index="<%= i %>"> <%= p.title %> </a>
	</div>
<% end %>
</div>

</div>