


<div class="row">
	<div class="col-md-12">
		<%= render partial: "posts/index_slider",locals: {perpage: 4} %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= render partial: "posts/main_issue" %>
	</div>
</div>

<%= render partial: "posts/hot_posts",locals: {perpage: 4} %>

<div class="col-md-4 col-md-offset-8 post-panel">
	<%= render partial: "posts/about_us",locals: {perpage: 4} %>
</div>

<div class="col-md-4 col-md-offset-8 post-panel">
	<%= render partial: "posts/latest_posts",locals: {perpage: 4} %>
</div>
