<section class="main">
	<div class="articleBanner" style="<%= inline_background_image(@post.cover.url('large')) %>">
		<div class="articleBanner__title">
			<div class="articleBanner__main"><%= @post.title %></div>
			<div class="articleBanner__sub"><%= @post.subtitle %></div>
		</div>
	</div>
	<section class="section article">
		<div class="wrap">
			<div class="articleInfo clearfix">
				<div class="articleInfo__left">
					<p><%= "文字：#{@post.author}" %></p>
					<p><%= "攝影：#{@post.photographer}" %></p>
				</div>
				<div class="articleInfo__right">
					<p><%= @post.category %></p>
					<p><%= @post.decorate.publish_date %></p>
				</div>
			</div>
			<article>
				<%= raw @post.content %>
			</article>
		</div>
	</section>
	<section class="section">
		<ul class="recommend clearfix">
			<%= render partial: 'posts/partials/footer_post', collection: @latest_posts %>
		</ul>
	</section>

</section>

<% content_for :javascript do %>
<script>
	$(function () {
		var resize = function () {
			$(window).resize(function () {
				$('.articleBanner').height($(window).height() - $('.header').outerHeight());
			}).trigger('resize');
		}
		resize();
	});
</script>
<% end %>