<%= form_tag(admin_mass_import_videos_confirm_update_path, method: "post", multipart: true) do %>

<h3>多選上傳孩童的影片</h3>
<p>影片檔案名稱請格式為：孩童序號_第幾支影片，如 11140_1、11140_2</p>
<p>支援的檔案格式：mov、mp4</p>
<%= file_field_tag :file, multiple: true, id: "#fileupload", name: "videos[]" %>
<br>
<br>
<h3>選擇更新月份</h3>
<%= select_tag 'year_and_month', options_for_select( @years_and_months) %>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= submit_tag "送出" %>

<% end %>

<script>
	$(function () {
		$('#fileupload').fileupload({
			dataType: 'json',
			done: function (e, data) {
				$.each(data.result.files, function (index, file) {
					$('<p/>').text(file.name).appendTo(document.body);
				});
			}
		});
	});
</script>
