<header class="header">
  <div class="wrap clearfix">
    <%= link_to root_path, class: 'header__logo' do %>
      <%= image_tag 'logo-small.png' %>
    <% end %>
    <a href="#" class="header__toggle">
      <div class="burger"></div>
    </a>
    <div class="header__menu">
      <ul class="menu__nav">
        <li><%= link_to '核心理念', about_path %></li>
        <li><%= link_to '資助平台', donate_path %></li>
        <!-- <li><%#= link_to '極光計畫', aurora_path %></li> -->
        <li><%= link_to 'BLOG', posts_path %></li>
      </ul>
      <% if !user_signed_in? %>
        <ul class="menu__member">
          <li><%= link_to '成為資助人', 'https://callsoverridges.backme.tw/checkout/726/4472?locale=zh-TW', class: 'btn btn--rev', target: '_blank' %></li>
          <!-- <li><%#= link_to '成為資助人', new_user_registration_path, style: " text-decoration: none;", id: "signup", class: 'btn btn--rev' %></li> -->
        </ul>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <ul class="header__member">
        <li>
          <a class="dropdown-button" href="#!" data-activates="memberDropDown">
            Hi <%= current_user.name %><i class="material-icons right"><i class="fa fa-caret-down"></i></i>
          </a>
          <ul id="memberDropDown" class="dropdown-content">
            <li><%= link_to '個人資料', profile_path %></li>
            <% current_user.children.all.each do |child| %>
              <li><%= link_to child.name, child_path(child) %></li>
            <% end if current_user.associated_with_children? %>
            <li>
              <%= link_to('登出', destroy_user_session_path, method: :delete) %>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</header>
