<nav class="navbar navbar-default navbar-fixed-top custom-navbar">
  <div class="navbar-fill azure-bg"></div>
  <div class="container">
   <div class="navbar-header">
    <a class="navbar-brand" href="<%= root_path %>">
      <img alt="夢想實驗室" src=" <%= asset_path('lab_logo.png') %> ">
    </a>

  </div>

  <div class="collapse navbar-collapse navbar-link-padding" id="bs-example-navbar-collapse-1">
    <div class="navbar-slogan azure-text">激發做夢與實踐的DNA</div>
    <ul class="nav navbar-nav custom-nav white-text">
      <li class="<%= setactive('index', "") %>"><a href="<%= root_path %>">首頁 <span class="sr-only">(current)</span></a></li>
      <% Tag.main_tag.each do |t| %>
      <li class="<%= setactive('show_posts_with_tag', t.name_en) %>"><a href="/tags/<%= t.name_en %>"><%= t.name_zh %></a></li>        
      <% end %>
      <li class="<%= setactive('about', "") %>"><a href="<%= aboutus_path %>">關於我們</a></li>        
    </ul>
    <div class="navbar-logo azure-text powered-by">
     <h6><small>Powered by</small></h6>
     <img src="<%= asset_path('aiesec_blue_logo') %>" alt="AIESEC">
   </div>

	<%= form_tag({controller:'pages',action:'search'}, method: "get", class: "navbar-form navbar-left custom-navbar-form") do %>
    <div class="form-group search-bar-form-group">
     <%= text_field_tag 'keyword',nil,placeholder: '搜尋',class:'form-control custom-search-box' %>
    </div>
    <% end %>



</div><!-- /.navbar-collapse -->

</div>
</nav>

<script>
  $(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
 });

  console.log("<%= setactive('show_posts', 1) %>");
</script>