<!DOCTYPE html>
<html>
<head>
  <title>DreamLabBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- TODO: Meta Tags -->
</head>
<body>

<%= render partial: "layouts/navbar" %>
<!-- TODO: navbar -->
<div class="container-fluid container-gray-section">
	<%= yield :cover %>
</div>

<div class="container page-wrapper">
	<%= yield %>
</div>

<%= render partial: "layouts/footer" %>.
<!-- TODO: footer -->

</body>
</html>
